/* footer */
.footer {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContainer {
    max-width: 1200px;
    width: 100%;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footerLinksItem {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footerLinksItem a {
    color: var(--text-color-light);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footerLinksItem a b {
    text-transform: uppercase;
}

.footerLinksItem a:hover {
    color: var(--primary-color);
}

.footerCopy {
    color: var(--text-color-light);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.socialIcon {
    color: gray;
    cursor: pointer;
    margin-right: 20px;
    transition: color 0.2s ease-in-out;
}

.socialIcon:hover {
    color: var(--secondary-color);
}